In [207]:
import pandas as pd
import sklearn as skl
from sklearn.ensemble import RandomForestRegressor as rfr
import numpy as np
import matplotlib.pyplot as plt
import math
pd.set_option('display.max_rows',1000)
pd.set_option('display.max_columns',1000)

Use sklean.ensemble.RandomForestRegressor to relate "components" of the stock index NDX to
NDX itself.
Use a rolling window of each component, so that each row represents a number of previous prices for each component.

Define an rsme function, and a function that compares rsme's and model.scores (R^2's) between predicted y values and actual y values.

In [205]:
# def rmse(x,y): return math.sqrt(((x-y)**2).mean())
def rmse(x,y): return math.sqrt(((np.log(x)-np.log(y))**2).mean())

def print_score(mod,xt,yt,xv,yv):
    res = [rmse(mod.predict(xt), yt), rmse(mod.predict(xv), yv),
                mod.score(xt, yt), mod.score(xv, yv)]
    labels = ['rsme train','rsme test','R2 train','R2 test']
    if hasattr(mod, 'oob_score_'): 
        res.append(mod.oob_score_)
        labels.append('oob_score')
    df = pd.DataFrame({'function':labels,'values':res})
    print(df)

Create a function that creates "lag" values for any component stock of NDX

In [201]:
def table2lags(table, max_lag, min_lag=0, separator='_'):
    """ Given a dataframe, return a dataframe with different lags of all its columns """
    values=[]
    for i in range(min_lag, max_lag + 1):
        values.append(table.shift(i).copy())
        values[-1].columns = [c + separator + str(i) for c in table.columns]
    return pd.concat(values, axis=1)

In [202]:
#example usage of table2flags
df = pd.DataFrame({'y1':[1,2,3,4,5], 'y2':[10,20,40,50,30], 'z': [1,4,9,16,25]})
x = table2lags(df[['y1', 'y2']], 2)
print(type(x),x)

<class 'pandas.core.frame.DataFrame'>    y1_0  y2_0  y1_1  y2_1  y1_2  y2_2
0     1    10   NaN   NaN   NaN   NaN
1     2    20   1.0  10.0   NaN   NaN
2     3    40   2.0  20.0   1.0  10.0
3     4    50   3.0  40.0   2.0  20.0
4     5    30   4.0  50.0   3.0  40.0

Examle 1:  relate AAPL and MSFT to NDS

In [203]:
df = pd.read_csv('data/nasdaq100_padding.csv')
df.columns.values

array(['AAL', 'AAPL', 'ADBE', 'ADI', 'ADP', 'ADSK', 'AKAM', 'ALXN',
       'AMAT', 'AMGN', 'AMZN', 'ATVI', 'AVGO', 'BBBY', 'BIDU', 'BIIB',
       'CA', 'CELG', 'CERN', 'CMCSA', 'COST', 'CSCO', 'CSX', 'CTRP',
       'CTSH', 'DISCA', 'DISH', 'DLTR', 'EA', 'EBAY', 'ESRX', 'EXPE',
       'FAST', 'FB', 'FOX', 'FOXA', 'GILD', 'GOOGL', 'INTC', 'JD', 'KHC',
       'LBTYA', 'LBTYK', 'LRCX', 'MAR', 'MAT', 'MCHP', 'MDLZ', 'MSFT',
       'MU', 'MXIM', 'MYL', 'NCLH', 'NFLX', 'NTAP', 'NVDA', 'NXPI',
       'PAYX', 'PCAR', 'PYPL', 'QCOM', 'QVCA', 'ROST', 'SBUX', 'SIRI',
       'STX', 'SWKS', 'SYMC', 'TMUS', 'TRIP', 'TSCO', 'TSLA', 'TXN',
       'VIAB', 'VOD', 'VRTX', 'WBA', 'WDC', 'WFM', 'XLNX', 'YHOO', 'NDX'],
      dtype=object)

In [219]:
len(df)

40560

Create a dataframe with just aapl and msft columns, and then 60 previous days prices for each.
Then, create a training set and test set of rows, where n = the number of test rows from the 
full DataFrame df.

In [231]:
num_test_rows = 20000
num_validation_rows = 2000 # number of test rows
days_back = 30 # number of days of history to analyze for each component stock
df_sub = df.drop('NDX',axis=1).copy() # create a dataframe without NDX, which is the y vector
df_sub = df[['AAPL','MSFT']] # just juse aapl and msft
df_sub = table2lags(df_sub,days_back) # create the history columns
df_sub = df_sub.drop(['AAPL_0','MSFT_0'],axis=1)
X = df_sub.as_matrix() # make matrix of X values
y = df['NDX'].as_matrix() # make matrix of y
X = X[-num_test_rows:]
y = y[-num_test_rows:]
X_train = X[:-num_validation_rows].copy() # create a training set for X
X_test = X[-num_validation_rows:].copy()  # create a test set for X
y_train = y[:-num_validation_rows].copy() # same as above for y
y_test = y[-num_validation_rows:].copy() # same as above for y
m2 = rfr(n_estimators=10,n_jobs=-1,oob_score=True) # create model
%time m2.fit(X_train,y_train) # train the model
print_score(m2,X_train,y_train,X_test,y_test) # see how well you did

/Users/bperlman1/Virtualenvs3/pyliverisk/lib/python3.6/site-packages/sklearn/ensemble/forest.py:724: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "

CPU times: user 7.13 s, sys: 33.4 ms, total: 7.16 s
Wall time: 2.5 s
     function     values
0  rsme train   0.000623
1   rsme test   0.002568
2    R2 train   0.997684
3     R2 test   0.106827
4   oob_score -62.633429

In [228]:
df_sub.iloc[-5:]

,AAPL_1,MSFT_1,AAPL_2,MSFT_2,AAPL_3,MSFT_3,AAPL_4,MSFT_4,AAPL_5,MSFT_5,AAPL_6,MSFT_6,AAPL_7,MSFT_7,AAPL_8,MSFT_8,AAPL_9,MSFT_9,AAPL_10,MSFT_10,AAPL_11,MSFT_11,AAPL_12,MSFT_12,AAPL_13,MSFT_13,AAPL_14,MSFT_14,AAPL_15,MSFT_15,AAPL_16,MSFT_16,AAPL_17,MSFT_17,AAPL_18,MSFT_18,AAPL_19,MSFT_19,AAPL_20,MSFT_20,AAPL_21,MSFT_21,AAPL_22,MSFT_22,AAPL_23,MSFT_23,AAPL_24,MSFT_24,AAPL_25,MSFT_25,AAPL_26,MSFT_26,AAPL_27,MSFT_27,AAPL_28,MSFT_28,AAPL_29,MSFT_29,AAPL_30,MSFT_30
40555,115.825,63.5248,115.805,63.5253,115.805,63.5300,115.7946,63.5200,115.8300,63.5300,115.7900,63.5350,115.8339,63.530,115.7700,63.515,115.8290,63.525,115.8035,63.5447,115.7800,63.5500,115.7850,63.5300,115.7800,63.5250,115.7900,63.5140,115.810,63.500,115.820,63.520,115.83,63.5388,115.85,63.5300,115.8401,63.5400,115.8493,63.5300,115.7700,63.5365,115.7839,63.5400,115.7400,63.5000,115.7910,63.5200,115.7400,63.4900,115.7900,63.52,115.782,63.53,115.701,63.4667,115.721,63.4900,115.7961,63.5000
40556,115.880,63.5500,115.825,63.5248,115.805,63.5253,115.8050,63.5300,115.7946,63.5200,115.8300,63.5300,115.7900,63.535,115.8339,63.530,115.7700,63.515,115.8290,63.5250,115.8035,63.5447,115.7800,63.5500,115.7850,63.5300,115.7800,63.5250,115.790,63.514,115.810,63.500,115.82,63.5200,115.83,63.5388,115.8500,63.5300,115.8401,63.5400,115.8493,63.5300,115.7700,63.5365,115.7839,63.5400,115.7400,63.5000,115.7910,63.5200,115.7400,63.49,115.790,63.52,115.782,63.5300,115.701,63.4667,115.7210,63.4900
40557,115.875,63.5438,115.880,63.5500,115.825,63.5248,115.8050,63.5253,115.8050,63.5300,115.7946,63.5200,115.8300,63.530,115.7900,63.535,115.8339,63.530,115.7700,63.5150,115.8290,63.5250,115.8035,63.5447,115.7800,63.5500,115.7850,63.5300,115.780,63.525,115.790,63.514,115.81,63.5000,115.82,63.5200,115.8300,63.5388,115.8500,63.5300,115.8401,63.5400,115.8493,63.5300,115.7700,63.5365,115.7839,63.5400,115.7400,63.5000,115.7910,63.52,115.740,63.49,115.790,63.5200,115.782,63.5300,115.7010,63.4667
40558,115.875,63.5410,115.875,63.5438,115.880,63.5500,115.8250,63.5248,115.8050,63.5253,115.8050,63.5300,115.7946,63.520,115.8300,63.530,115.7900,63.535,115.8339,63.5300,115.7700,63.5150,115.8290,63.5250,115.8035,63.5447,115.7800,63.5500,115.785,63.530,115.780,63.525,115.79,63.5140,115.81,63.5000,115.8200,63.5200,115.8300,63.5388,115.8500,63.5300,115.8401,63.5400,115.8493,63.5300,115.7700,63.5365,115.7839,63.5400,115.7400,63.50,115.791,63.52,115.740,63.4900,115.790,63.5200,115.7820,63.5300
40559,115.920,63.5650,115.875,63.5410,115.875,63.5438,115.8800,63.5500,115.8250,63.5248,115.8050,63.5253,115.8050,63.530,115.7946,63.520,115.8300,63.530,115.7900,63.5350,115.8339,63.5300,115.7700,63.5150,115.8290,63.5250,115.8035,63.5447,115.780,63.550,115.785,63.530,115.78,63.5250,115.79,63.5140,115.8100,63.5000,115.8200,63.5200,115.8300,63.5388,115.8500,63.5300,115.8401,63.5400,115.8493,63.5300,115.7700,63.5365,115.7839,63.54,115.740,63.50,115.791,63.5200,115.740,63.4900,115.7900,63.5200

example using dataframe for X rather than a matrix

In [248]:
num_test_rows = 8000
num_validation_rows = 200 # number of test rows
days_back = 30 # number of days of history to analyze for each component stock
df_sub = df.drop('NDX',axis=1).copy() # create a dataframe without NDX, which is the y vector
df_sub = df[['AAPL','MSFT']] # just juse aapl and msft
df_sub = table2lags(df_sub,days_back) # create the history columns
df_sub = df_sub.drop(['AAPL_0','MSFT_0'],axis=1)
X = df_sub.copy()
y = df['NDX']
X = X.iloc[-num_test_rows:]
y = y.iloc[-num_test_rows:]
X_train = X.iloc[:-num_validation_rows].copy() # create a training set for X
X_test = X.iloc[-num_validation_rows:].copy()  # create a test set for X
y_train = y.iloc[:-num_validation_rows].copy() # same as above for y
y_test = y.iloc[-num_validation_rows:].copy() # same as above for y
m2 = rfr(n_estimators=100,n_jobs=-1,oob_score=True) # create model
%time m2.fit(X_train,y_train) # train the model
print_score(m2,X_train,y_train,X_test,y_test) # see how well you did

CPU times: user 28.3 s, sys: 93.5 ms, total: 28.4 s
Wall time: 7.55 s
     function    values
0  rsme train  0.000237
1   rsme test  0.002780
2    R2 train  0.999716
3     R2 test -1.278398
4   oob_score  0.997970

In [238]:
X.shape,X_train.shape

((20000, 60), (18000, 60))